div[contenteditable=true] {
  width: 700px;
  padding: 2px;
  border: 0px none;

  &:focus {
    outline: none;
    
    &:empty:before {
      content: attr(placeholder);
      color: #aaa;
      // pointer-events: none;
      // display: block;
    }
  }
}
