.side {
  width: 100px;

  ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
}

.content {
  flex: 1;
  ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
}

.App {
  display: flex;
}
